.nav {
  grid-area: n;
  background-color: #8f72e0;
  padding: 20px;
}

.item {
  color: #303C6C;
  font-weight: 900;
  text-decoration: none;
}

.active {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.friendList {
  display: inline;
}

/* .nav img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  padding-left: 1px;
}

.friends {
  padding: 20px;
} */